@model HR_OxCode.Models.HRPanelOvertimeRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>HRPanelOvertimeRequest</h4>
<hr />
<div class="row m-5">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateMonth" class="control-label"></label>
                <input asp-for="DateMonth" class="form-control" />
                <span asp-validation-for="DateMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfHourse" class="control-label"></label>
                <input asp-for="NoOfHourse" class="form-control" />
                <span asp-validation-for="NoOfHourse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverNotes" class="control-label"></label>
                <input asp-for="OverNotes" class="form-control" />
                <span asp-validation-for="OverNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalOvertime" class="control-label"></label>
                <input asp-for="TotalOvertime" class="form-control" />
                <span asp-validation-for="TotalOvertime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totalpaid" class="control-label"></label>
                <input asp-for="Totalpaid" class="form-control" />
                <span asp-validation-for="Totalpaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalOVPending" class="control-label"></label>
                <input asp-for="TotalOVPending" class="form-control" />
                <span asp-validation-for="TotalOVPending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="m-5">
    <a asp-action="Index">Back to List</a>
</div>

