
@{
    ViewData["Title"] = "StaffProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>StaffProfile</h1>
<ul class="nav nav-pills m-5" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">PersonalDetails</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">MedicalProfile</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Salary&Benefits</a>
    </li>
</ul>






<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>


        <p>
            <label for="input">FullNameEn</label>
            <input type="text" id="input" placeholder="NameEn">

            <label for="input">FullNameAr</label>
            <input type="text" id="input" placeholder="NameAr">

            <label for="input">AttendanceNo</label>
            <input type="text" id="input" placeholder="AttendNo">

            <label for="input">MartialStatus</label>
            <select id="select">
                <option value="">Choose...</option>
                <option value="">Married</option>
                <option value="">Single</option>
                <option value="">Others</option>
            </select>
        </p>

        <p>
            <label for="input">Nationality</label>
            <select id="select">
                <option value="">Choose...</option>
                <option value="">Sudanese</option>
                <option value="">Egyption</option>
                <option value="">England</option>
            </select>

            <label for="input">Religin</label>
            <select id="select">
                <option value="">Choose...</option>
                <option value="">Muslim</option>
                <option value="">Christian</option>
            </select>

            <label for="input">Gender</label>
            <select id="select">
                <option value="">Choose...</option>
                <option value="">Male</option>
                <option value="">Female</option>
            </select>

            <label for="input">Mobile</label>
            <input type="text" id="input" placeholder="Mobile">

            <label for="input">Email</label>
            <input type="text" id="input" placeholder="Email">

            <label for="input">DateOfBirth</label>
            <input type="date" id="date">

            <label for="input">Address</label>
            <input type="text" id="input" placeholder="Address">

            <label for="input">RegistrationDate</label>
            <input type="date" id="date">
        <p>
            <label for="input">PassportDetails</label>
        </p>

        <p>
            <label for="input">Number</label>
            <input type="text" id="input" placeholder="No">

            <label for="input">IssuePlace</label>
            <input type="text" id="input" placeholder="Place">

            <label for="input">IssueDate</label>
            <input type="date" id="date">

            <label for="input">ExpiredDate</label>
            <input type="date" id="date">
        </p>

        <p>
            <label for="input">ID/IqamaDetails</label>
        </p>

        <p>
            <label for="input">Number ID</label>
            <input type="text" id="input" placeholder="No">

            <label for="input">IssuePlace</label>
            <input type="text" id="input" placeholder="Place">

            <label for="input">IssueDate</label>
            <input type="date" id="date">

            <label for="input">ExpiredDate</label>
            <input type="date" id="date">

            <label for="input">IDProfission</label>
            <input type="text" id="input" placeholder="ID/No">
        </p>

        <p>
            <label for="input">JobDetails</label>
        </p>

        <p>
            <label for="input">Department</label>
            <select id="select">
                <option value="">Choose...</option>
                <option value="">HumanResources</option>
                <option value="">Finance</option>
                <option value="">Adminstrator</option>
            </select>

            <label for="input">Job Title</label>
            <select id="select">
                <option value="">Choose...</option>
                <option value="">Employee</option>
                <option value="">Manager</option>
                <option value="">Admin</option>
            </select>

            <label for="input">Hire Date</label>
            <input type="date" id="date">

            <label for="input">Branch</label>
            <select id="select">
                <option value="">Choose...</option>
                <option value="">Saudi Arabia</option>
                <option value="">Khartoum</option>
                <option value="">Madani</option>
            </select>

            <label for="input">Direct Manager Name</label>
            <input type="text" id="input" placeholder="Name">
        </p>

        <p>
            <label for="input">The Scientific Qualification</label>
        </p>

        </p>


    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">




        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>


    </div>

    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">








    </div>
</div>